.container {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  flex-basis: calc((100% - 6 * 1em) / 8);
  margin: 0 0.5em;
}

.center {
  flex-basis: calc(6 * (100% - 6 * 1em) / 8);
}

.card-out{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 85vh;
  overflow: auto;
}