<ng-container
  *ngIf="books?.length === 0; else loadedContent"
  class="flex items-center justify-center h-screen"
>
  <div
    class="animate-spin rounded-full border-t-4 border-blue-500 border-opacity-25 h-12 w-12"
  ></div>
</ng-container>
<ng-template #loadedContent>
  <div class="flex flex-wrap gap-5">
    <div *ngFor="let book of getBooks" class="container">
      <book-introduction
        [bookInfo]="book"
        (toDouBan)="toDouBanPage($event)"
      ></book-introduction>
    </div>
  </div>
</ng-template>
