<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <img
        mat-card-md-image
        src="https://img2.doubanio.com/view/subject/s/public/s28024431.jpg"
      />
      <mat-card-title>Metaphors We Live By</mat-card-title>
      <mat-card-subtitle>[美] 乔治·莱考夫</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    本书作为当代语言学经典著作，是公认的认知语言学隐喻系统研究的开始，在国外隐喻研究中具有很大影响。本书作为当代语言学经典著作，是公认的认知语言学隐喻系统研究的开始，在国外隐喻研究中具有很大影响。
  </mat-card-content>
</mat-card>
