/* app-carousel.component.css */
mat-card {
  max-width: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
}

mat-card-content {
  text-align: center;
}

/* 调整后的按钮样式 */
button {
  position: absolute;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  outline: none;
}

/* 调整前进按钮的位置 */
button:first-child {
  left: 0;
  transform: translateY(-50%);
}

/* 调整后退按钮的位置 */
button:last-child {
  right: 0;
  transform: translateY(-50%);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
